USE [QuanLyBanLaptop_K235480106044]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachHoaDonDayDu]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DanhSachHoaDonDayDu]()
RETURNS @KetQua TABLE
(
    [MaHoaDon] INT,
    [TenSanPham] NVARCHAR(150),
    [SoLuong] INT,
    [Gia] MONEY,
    [ThanhTien] MONEY,
    [ThanhTienSauVAT] MONEY
)
AS
BEGIN
    INSERT INTO @KetQua
    SELECT 
        hd.[MaHoaDon],
        sp.[TenSanPham],
        hd.[SoLuong],
        sp.[GiaNiemYet],
        hd.[SoLuong] * sp.[GiaNiemYet] AS [ThanhTien],
        hd.[SoLuong] * sp.[GiaNiemYet] * 1.1 AS [ThanhTienSauVAT]
    FROM [HoaDon] hd
    JOIN [SanPham] sp ON hd.[MaSanPham] = sp.[MaSanPham];

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhThanhTienSauVAT]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhThanhTienSauVAT]
(
    @SoLuong INT,
    @Gia MONEY
)
RETURNS MONEY
AS
BEGIN
    RETURN @SoLuong * @Gia * 1.1;
END;
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TienThuong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_HoaDonTheoNhanVien]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_HoaDonTheoNhanVien]
(
    @MaNhanVien INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        hd.[MaHoaDon],
        hd.[MaNhanVien],
        hd.[MaSanPham],
        hd.[SoLuong],
        hd.[NgayLap]
    FROM [HoaDon] hd
    WHERE hd.[MaNhanVien] = @MaNhanVien
);
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTenNhanVien] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[Luong] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](150) NOT NULL,
	[HangSanXuat] [nvarchar](100) NULL,
	[GiaNiemYet] [money] NULL,
	[SoLuongTon] [int] NULL,
	[GiaSauGiam] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLap]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Luong]>=(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([GiaNiemYet]>(0)))
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachHoaDon]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DanhSachHoaDon]
AS
BEGIN
    SELECT 
        hd.[MaHoaDon],
        nv.[HoTenNhanVien],
        sp.[TenSanPham],
        hd.[SoLuong],
        sp.[GiaNiemYet],
        hd.[SoLuong] * sp.[GiaNiemYet] AS [ThanhTien]
    FROM [HoaDon] hd
    JOIN [NhanVien] nv ON hd.[MaNhanVien] = nv.[MaNhanVien]
    JOIN [SanPham] sp ON hd.[MaSanPham] = sp.[MaSanPham];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemHoaDon]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemHoaDon]
(
    @MaNhanVien INT,
    @MaSanPham INT,
    @SoLuong INT
)
AS
BEGIN
    DECLARE @TonKho INT;

    -- Lấy số lượng tồn
    SELECT @TonKho = [SoLuongTon]
    FROM [SanPham]
    WHERE [MaSanPham] = @MaSanPham;

    -- Kiểm tra điều kiện
    IF (@SoLuong <= 0)
    BEGIN
        PRINT N'Số lượng phải > 0';
        RETURN;
    END

    IF (@SoLuong > @TonKho)
    BEGIN
        PRINT N'Không đủ hàng trong kho';
        RETURN;
    END

    -- Insert
    INSERT INTO [HoaDon] ([MaNhanVien], [MaSanPham], [SoLuong], [NgayLap])
    VALUES (@MaNhanVien, @MaSanPham, @SoLuong, GETDATE());

    -- Trừ kho
    UPDATE [SanPham]
    SET [SoLuongTon] = [SoLuongTon] - @SoLuong
    WHERE [MaSanPham] = @MaSanPham;

    PRINT N'Thêm hóa đơn thành công';
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhTongTienHoaDon]    Script Date: 30/04/2026 4:58:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TinhTongTienHoaDon]
(
    @MaHoaDon INT,
    @TongTien MONEY OUTPUT
)
AS
BEGIN
    SELECT @TongTien = hd.[SoLuong] * sp.[GiaNiemYet] * 1.1
    FROM [HoaDon] hd
    JOIN [SanPham] sp ON hd.[MaSanPham] = sp.[MaSanPham]
    WHERE hd.[MaHoaDon] = @MaHoaDon;
END;
GO
